[Unit]
Description=CCCP Relayer Daemon
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=on-failure
SyslogIdentifier=cccp-relayer
SyslogFacility=local7
WorkingDirectory=<PATH_TO_CCCP_RELAYER>
ExecStart=<PATH_TO_CCCP_RELAYER> --chain <mainnet|testnet|<PATH_TO_CONFIG_FILE>>
KillSignal=SIGHUP

[Install]
WantedBy=multi-user.target
