[Unit]
Description=CCCP Relayer Daemon
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
SyslogIdentifier=cccp-relayer
SyslogFacility=local7
WorkingDirectory=<PATH_TO_BIFROST_RELAYER>
ExecStart=<PATH_TO_CCCP_RELAYER> --chain <Mainnet|Testnet|<PATH_TO_CONFIG_FILE>>
KillSignal=SIGHUP

[Install]
WantedBy=multi-user.target
